In [2]:
import duckdb

1. create a connection and a cursor

In [3]:
# create connection
conn = duckdb.connect("database.db")

In [4]:
conn

In [5]:
# create cursor
cur = conn.cursor()

In [6]:
# now lets do something with our cursor

In [7]:
cur.execute("SELECT * FROM Site LIMIT 5")

In [8]:
# 1) show all results at once

In [9]:
cur.fetchall()

[('barr',
  'Barrow',
  'Alaska, USA',
  71.30000305175781,
  -156.60000610351562,
  220.39999389648438),
 ('burn',
  'Burntpoint Creek',
  'Ontario, Canada',
  55.20000076293945,
  -84.30000305175781,
  63.0),
 ('bylo',
  'Bylot Island',
  'Nunavut, Canada',
  73.19999694824219,
  -80.0,
  723.5999755859375),
 ('cakr',
  'Cape Krusenstern',
  'Alaska, USA',
  67.0999984741211,
  -163.5,
  54.099998474121094),
 ('cari',
  'Canning River Delta',
  'Alaska, USA',
  70.0999984741211,
  -145.8000030517578,
  722.0)]

cursors don't store anything, they just transger queries to the database and get results back

In [10]:
cur.fetchall()

[]

In [11]:
# always get tuples, even if only request one column

In [12]:
cur.execute("SELECT Nest_ID from Bird_nests LIMIT 10")

In [13]:
# each result is its own tuple
cur.fetchall()

[('14HPE1',),
 ('11eaba',),
 ('11eabaagc01',),
 ('11eabaagv01',),
 ('11eababbc02',),
 ('11eababsv01',),
 ('11eabaduh01',),
 ('11eabaduv01',),
 ('11eabarpc01',),
 ('11eabarpc02',)]

In [14]:
cur.execute("SELECT Nest_ID from Bird_nests LIMIT 10")

# gives just string (first element in each tuple)
[t[0] for t in cur.fetchall()]

['14HPE1',
 '11eaba',
 '11eabaagc01',
 '11eabaagv01',
 '11eababbc02',
 '11eababsv01',
 '11eabaduh01',
 '11eabaduv01',
 '11eabarpc01',
 '11eabarpc02']

2. get the one result, or the next result

In [15]:
cur.execute("SELECT Count(*) FROM Bird_nests")
cur.fetchall()

[(1547,)]

In [16]:
cur.execute("SELECT Count(*) FROM Bird_nests")
cur.fetchone()

(1547,)

In [17]:
# get as string
cur.execute("SELECT Count(*) FROM Bird_nests")
cur.fetchone()[0]

1547

3. Using an iterator - but DuckDB doesn't support iterators :(

In [18]:
# won't run in duckdb
cur.execute("SELECT Nest_ID from Bird_nests LIMIT 10")
for row in cur:
    print(f"got {row[0]}")

TypeError: 'duckdb.duckdb.DuckDBPyConnection' object is not iterable

In [19]:
# a workaround
cur.execute("SELECT Nest_ID from Bird_nests LIMIT 10")
while True:
    row = cur.fetchone()
    if row == None:
        break
    # do something with row
    print(f"got nest ID {row[0]}")

got nest ID 14HPE1
got nest ID 11eaba
got nest ID 11eabaagc01
got nest ID 11eabaagv01
got nest ID 11eababbc02
got nest ID 11eababsv01
got nest ID 11eabaduh01
got nest ID 11eabaduv01
got nest ID 11eabarpc01
got nest ID 11eabarpc02

In [20]:
# can do things other than select

In [26]:
# can make multi-line string commands using triple quotes """
cur.execute("""
    CREATE TEMP TABLE temp_table AS
    SELECT * FROM Bird_nests LIMIT 10
""")

CatalogException: Catalog Error: Table with name "temp_table" already exists!

In [25]:
cur.execute("SELECT * FROM temp_table")

cur.fetchall()

[('b14.6',
  2014,
  'chur',
  '14HPE1',
  'sepl',
  'vloverti',
  datetime.date(2014, 6, 14),
  None,
  3,
  None,
  None),
 ('b11.7',
  2011,
  'eaba',
  '11eaba',
  'wrsa',
  'bhill',
  datetime.date(2011, 7, 10),
  'searcher',
  4,
  None,
  None),
 ('b11.6',
  2011,
  'eaba',
  '11eabaagc01',
  'amgp',
  'dkessler',
  datetime.date(2011, 6, 24),
  'searcher',
  4,
  6.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eabaagv01',
  'amgp',
  'dkessler',
  datetime.date(2011, 6, 25),
  'searcher',
  3,
  3.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eababbc02',
  'bbpl',
  'dkessler',
  datetime.date(2011, 6, 24),
  'searcher',
  4,
  4.0,
  'float'),
 ('b11.7',
  2011,
  'eaba',
  '11eababsv01',
  'wrsa',
  'bhill',
  datetime.date(2011, 7, 7),
  'searcher',
  4,
  2.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eabaduh01',
  'dunl',
  'dkessler',
  datetime.date(2011, 6, 28),
  'searcher',
  3,
  2.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eabaduv01',
  'dunl',
  'dkessler',
  datetime.date(2011, 6, 29),
  'searcher',
  4,
  5.0,
  'float'),
 ('b11.7',
  2011,
  'eaba',
  '11eabarpc01',
  'reph',
  'bhill',
  datetime.date(2011, 7, 8),
  'searcher',
  4,
  4.0,
  'float'),
 ('b11.7',
  2011,
  'eaba',
  '11eabarpc02',
  'reph',
  'bhill',
  datetime.date(2011, 7, 8),
  'searcher',
  3,
  4.0,
  'float')]

a note on fragility

for example:
INSERT INTO Site VALUES ("abcd", "Foo", 35.7, -119.5, "?")

a less fagile way of expressing same thing:
INSERT INTO Site (Code, Site_name, Latitude, Longitude, Something_else)
    VALUES ("abcd", "Foo", 35.7, -119.5, "?")
    
in the same vein, SELECT * is fragile

In [27]:
# don't know the column of each value
cur.execute("SELECT * FROM Site LIMIT 3")
cur.fetchall()

[('barr',
  'Barrow',
  'Alaska, USA',
  71.30000305175781,
  -156.60000610351562,
  220.39999389648438),
 ('burn',
  'Burntpoint Creek',
  'Ontario, Canada',
  55.20000076293945,
  -84.30000305175781,
  63.0),
 ('bylo',
  'Bylot Island',
  'Nunavut, Canada',
  73.19999694824219,
  -80.0,
  723.5999755859375)]

In [29]:
# better, more robust way of coding same thing
cur.execute("SELECT Site_name, Code, Latitude, Longitude FROM Site LIMIT 3")
cur.fetchall()

[('Barrow', 'barr', 71.30000305175781, -156.60000610351562),
 ('Burntpoint Creek', 'burn', 55.20000076293945, -84.30000305175781),
 ('Bylot Island', 'bylo', 73.19999694824219, -80.0)]

## extended example question: how many nests do we have for each species?

approach: first get all species, then execute a count query for each species

In [33]:
# digression: string interpolation in Python

# 1) % method
s = "My name is %s, and his name is %s"
print(s % ("Greg", "Julien"))

# 2) f-string methid
name =  "Greg"
print(f"My name is {name}")

My name is Greg, and his name is Julien
My name is Greg

In [35]:
query = """
    SELECT COUNT(*) FROM Bird_nests
    WHERE Species = '%s'
"""

cur.execute("SELECT Code FROM Species LIMIT 3")

for row in cur.fetchall(): # duckdb workaround
        code = row[0]
        prepared_query = query % code
        #print(prepared_query)
        cur2 = conn.cursor()
        cur2.execute(prepared_query)
        print(f"Species {code} has {cur2.fetchone()[0]} nests")
        cur2.close()

Species agsq has 0 nests
Species amcr has 0 nests
Species amgp has 29 nests

the above Python interpolation is dangerous and has caused many database hacks! there's a better way

In [38]:
query = """
    SELECT COUNT(*) FROM Bird_nests
    WHERE Species = ?
"""

cur.execute("SELECT Code FROM Species LIMIT 3")

for row in cur.fetchall(): # duckdb workaround
        code = row[0]
        #prepared_query = query % code
        #print(prepared_query)
        cur2 = conn.cursor()
        cur2.execute(query, [code]) # added argument here
        print(f"Species {code} has {cur2.fetchone()[0]} nests")
        cur2.close()

Species agsq has 0 nests
Species amcr has 0 nests
Species amgp has 29 nests

let's illustrate the danger with a different example

In [39]:
abbrev = "TS"
name = "Taylor Swift"
cur.execute("""
    INSERT INTO Personnel (Abbreviation, Name)
    VALUES ('%s', '%s')
    """ % (abbrev, name)
           )

In [43]:
cur.execute("SELECT * FROM Personnel")
cur.fetchall()[-3:]

[('emagnuson', 'Emily Magnuson'),
 ('mcorrell', 'Maureen Correll'),
 ('TS', 'Taylor Swift')]

In [44]:
abbrev = "CO"
name = "Conan O'Brien"
cur.execute("""
    INSERT INTO Personnel (Abbreviation, Name)
    VALUES ('%s', '%s')
    """ % (abbrev, name)
           )

cur.execute("SELECT * FROM Personnel")
cur.fetchall()[-3:]

ParserException: Parser Error: syntax error at or near "Brien"

In [46]:
abbrev = "CO"
name = "Conan O'Brien"
cur.execute("""
    INSERT INTO Personnel (Abbreviation, Name)
    VALUES (?, ?)
    """ , (abbrev, name)
           )

cur.execute("SELECT * FROM Personnel")
cur.fetchall()[-3:]

[('mcorrell', 'Maureen Correll'),
 ('TS', 'Taylor Swift'),
 ('CO', "Conan O'Brien")]